// Button Component Stylesheet
// ========================================
.button {

  &--primary {
    @include font-type($secondary-font, normal, 400);
    @include button($green, $white);
    height: 50px;
    width: 200px;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    &:hover {
      @include button(darken($green, 10%), $white);
    }
  }

  &--secondary {
    @include font-type($secondary-font, normal, 400);
    @include button--secondary($white, $green, $green);
    height: 46px;
    width: 196px;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    &:hover {
      @include button--secondary--hover(darken($green, 10%), $white, darken($green, 10%))
    }
  }

  &--disabled {
    @include font-type($secondary-font, normal, 400);
    @include button--disabled($gray, $white);
    height: 50px;
    width: 200px;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    &:hover {
      cursor: not-allowed;
    }
  }
}
