// Button Component Stylesheet
// ========================================
.button {
  @include font-type($secondary-font, normal, 400);

  &--primary {
    @include button($green, $white);
    height: 50px;
    width: 200px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-style: none;

    &--header {
      margin-bottom: $spacer-s;
    }

    &--main {
      margin-bottom: $spacer-xxl;
    }

    &:hover {
      @include button(darken($green, 10%), $white);
    }
  }

  &--secondary {
    @include button--secondary($white, $green, $green);
    height: 50px;
    width: 200px;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    &--header {
      margin-bottom: $spacer-s;
    }

    &:hover {
      @include button--secondary--hover(darken($green, 10%), $white, darken($green, 10%))
    }
  }

  &--disabled {
    @include button--disabled($gray, $white);
    height: 50px;
    width: 200px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-style: none;
  }

  &--form {
    margin-bottom: $spacer-m;
  }

  &__modal {
    height: 40px;
    width: 25%;
    max-width: 200px;
    margin-right: 80px;
    float: right;
    margin-top: $spacer-m;
  }
}
