.card--image {
  width: 75px;
  position: relative;
  z-index: 2;
  top: 30px;
  left: 160px;
}

.card {
  @include card($green);
  position: relative;

  &--white {
    background-color: $white;
  }

  &--text {
    padding: $spacer-lg $spacer-lg 0 $spacer-lg;
  }

  &--paragraph {
    padding-top: $spacer-xxl;
    padding-right: $spacer-lg;
    padding-left: $spacer-lg;
  }
}
