// Chip Component Stylesheet
// ========================================

.chip {
  display: flex;
  align-items: center;
  background-color: $white;
  border: 3px solid $green;
  padding: $spacer-m $spacer-m $spacer-m $spacer-s;
  height: 40px;
  width: 225px;
  z-index: 2;
  position: relative;
  bottom: 80px;
  left: 60px;

  &__avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-flex;
  }

  &__text--title, &__text--description {
    padding-left: $spacer-m;
  }
}
