// Form Elements Stylesheet
// ========================================

:focus {
  outline-color: $green;
}

// Label Styling -- Delete this if you are not using a label
label {
  font-family: $secondary-font;
  color: $green;
  display: block;
  padding-bottom: $spacer-xs;
}

// Basic Form Input Styling
input {
  font-family: $secondary-font;
  background-color: $gray;
  color: $green;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid $green;
  padding: $spacer-s;
  width: 300px;
}

.form__item--error {
  input {
    border: 2px solid $pink;
  }

    :focus {
      outline-color: $pink;
    }
}

.form__item--label {
  color: $pink;
}

// Select Form Input Styling
select {
  font-family: $secondary-font;
  background-color: $gray;
  color: $green;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid $green;
  padding: $spacer-s;
  height: 30px;
  width: 60px;
}
