// Colors Variables Settings Stylesheet
// ========================================

$green: #308269;
$blue: #0D2F4F;
$yellow: #E2C675;
$black: #020706;
$gray: #CECECE;
$white: #FFFFFF;
$mint: #7DD8BC;
$pink: #FF4057;

// Main Palette List
$colors: (
  green:     $green,
  blue:      $blue,
  yellow:    $yellow,
  black:     $black,
  gray:      $gray,
  white:     $white,
  mint:      $mint,
  pink:      $pink
);
