// Typography Variables Settings Stylesheet
// ===============================================

// Font Families
$primary-font: 'Superclarendon';
$secondary-font: 'Lato', sans-serif;

// Text Colors Map
$type-colors: (
  'black':     ( #020706 ),
  'white':     ( white ),
);
