// Base Layout Stylesheet
// ========================================

.body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: $white;
}

.header {
  box-shadow:0px .5px 12px $gray;
  height: 85px;

 &__logo {
   width: 40%;
   max-width: 200px;
   text-align: left;
   margin-top: $spacer-lg;
   margin-left: $spacer-m;

   &--menu {
     width: 80%;
     margin-top: $spacer-xxl;
     padding-left: $spacer-m;
   }

  &__button {
    justify-content: center;
  }
 }

 &__list {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
 }

 &__list__item {
   padding: $spacer-m;
 }

}

.drawer--buttons {
  text-align: center;
}

.main {
  flex: 1;

    &__section--hero {
      background-image: linear-gradient(rgba(251,249,249,0.8) 0, rgba(251,249,249,0.8) 100%), url(../images/shopping.jpg);
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-position-x: 37%;
      width: 100%;
      display: grid;
    }

    &__section__img {
      width: 50%;
      max-width: 211px;
      padding-top: $spacer-xxl;
      padding-bottom: $spacer-lg;

      @include media($large) {

      }

    }

    &__section--content {
      text-align: center;
    }
}

.about__article {

  &--first {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 20px;
  }

  &--second {
    background-image: linear-gradient(rgba(251,249,249,0.8) 0, rgba(251,249,249,0.8) 100%), url(../images/clothes.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 37%;
    background-position-y: -3%;
    width: 100%;
    text-align: center;
  }
}

.first--content {
  @include media($large) {
    display: flex;
    flex-direction: row;
  }
}

.margin-card {
  @include media($large) {
    margin-left: $spacer-s;
    margin-right: $spacer-s;
  }
}

.how-content {
  @include media($large) {
    display: flex;
    flex-direction: row;
  }
}

.how-item {
  @include media($large) {
    width: 50%;
  }
}

.owl-item {
    display: inline-flex;
}

.testimonial {
    margin: auto;
}

.short-rule {
  background-color: $green;
  height: 3px;
  width: 60px;
  margin: auto;
  margin-bottom: $spacer-s;
}

.contact__p {
  @include media($large) {
    width: 80%;
    margin: auto;
  }
}

.footer {
  background-color: $green;
  display: flex;
  align-items: center;
  flex-direction: column;

  &__logo {
    width: 50%;
    max-width: 200px;
    padding-top: $spacer-xxl;
    padding-bottom: $spacer-xlg;
  }
}
