// Base Layout Stylesheet
// ========================================

.body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: $white;
}

.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;

 &__logo {
   padding: $spacer-lg;
   width: 50%;
   max-width: 300px;
 }

 &__list {
   display: flex;
   flex-direction: row;
   justify-content: space-around;

   @include media($medium) {
     margin-right: $spacer-s;
   }

   @include media($large) {
     margin-right: $spacer-m;
   }
 }

 &__list__item {
   padding: $spacer-m;
 }

 @include media($medium) {
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   margin-bottom: $spacer-m;
 }
}

.footer {
  background-color: $green;
  height: 50px;
  position: sticky;

  &__p {
  }
}
