// Base Typography Stylesheet
// ========================================

h1, h2, h3, h4, h5, h6 {
  font-family: $primary-font;
  color: $black;
}

h1 {
  font-size: 36px;
  padding-bottom: $spacer-lg;
  text-align: center;
  margin-right: $spacer-lg;
  margin-left: $spacer-lg;

  @include media($medium) {
    margin-right: $spacer-xxl;
    margin-left: $spacer-xxl;
  }
}

h2 {
  font-size: 30px;
  padding-top: $spacer-xxl;
  padding-bottom: $spacer-xlg;
  text-align: center;
}

h3 {
  font-size: 26px;
  padding: $spacer-s 0;
  text-align: center;
}

h4 {
  font-size: 22px;
  padding: $spacer-s 0;
  text-align: center;
}

h5 {
  font-size: 20px;
  padding: $spacer-s 0;
}

h6 {
  font-size: 16px;
  padding: $spacer-s 0;
}

p {
  font-family: $secondary-font;
  font-size: 16px;
  text-align: center;
}

.about__article--second--p {
  width: 50%;
  margin: auto;
  padding-bottom: $spacer-xxl;
}

ol {
  list-style-type: decimal;
  padding: 0 $spacer-lg;
}

li {
  font-family: $secondary-font;
}

a {
    text-decoration: none;
    color: $green;
    font-family: $secondary-font;

    &:hover {
      color: darken($green, 10%);
      transition: .2s;
    }
}

.header__list__item {
  font-family: $primary-font;
  font-size: 20px;

  a {
    font-family: $primary-font;
  }
}

.card__h2 {
  margin-top: $spacer-lg;
}

.about__article--second--h2 {
  padding: 0;
}

.chip__text--title {
  font-family: $primary-font;
  color: $green;
}

.chip__text--description {
  font-family: $secondary-font;
  color: darken($gray, 40%);
}

.contact__p {
  text-align: left;
  padding-right: $spacer-lg;
  padding-bottom: $spacer-lg;
  padding-left: $spacer-lg;
}

.footer {

  p {
    padding-bottom: $spacer-xlg;
  }
  a {
    color: $white;

    &:hover {
      color: $mint;
      transition: .2s;
    }
  }

  &__social {
	  font-size: 30px;
    padding-bottom: $spacer-xlg;

    a {
      color: $green;

      &:hover {
        color: $mint;
        transition: .5s;
      }
    }
  }
}

.fa {
  padding: 10px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: $spacer-xs;
  border-radius: 50%;
  color: $green;
}

.fa-facebook:hover, .fa-instagram:hover, .fa-pinterest:hover {
	opacity: 0.9;
}

.fa-facebook, .fa-instagram, .fa-pinterest {
	background: $white;
}
