// Buttons Mixins Stylesheet

@mixin button($background-value, $color-value) {
  background-color: $background-value;
  color: $color-value;
  cursor: pointer;
}

@mixin button--hover ($background-value) {
  background-color: $background-value;
  transition: .2s;
}

@mixin button--secondary ($background-value, $color-value, $border-color) {
  background-color: $background-value;
  color: $color-value;
  font-family: $secondary-font;
  font-size: 16px;
  text-align: center;
  border: 2px solid $border-color;
  cursor: pointer;
}

@mixin button--secondary--hover ($background-value, $color-value, $border-color) {
  background-color: $background-value;
  color: $color-value;
  border: 2px solid $border-color;
  transition: .2s;
}

@mixin button--disabled ($background-value, $color-value) {
  background-color: $background-value;
  color: $color-value;
  font-family: $secondary-font;
  font-size: 16px;
  text-align: center;
  cursor: not-allowed;
}
